body {
    background-color: black;
}

h1 {
    font-family: 'Londrina Outline', cursive;
    font-size: 100px;
    text-align: center;
    color: rgb(153, 199, 132);
}

.twin {
    align-content: center;
}

.left {
    padding: 20px;
    height: 400px;
    width: 30%;
    margin-left: 20%;
    float: left;
}

.right {
    padding: 20px;
    height: 400px;
    width: 30%;
    margin-right: 20%;
    float: left;
}


